<div class="HyS_Skills" id="hysskills">
  <div class="cabecera">
    <div class="alineador">
      <h2>Soft and Hard Skills</h2>
      <a routerLink="/nuevaskill" class="boton" *ngIf="isLogged">
        <img src="assets/images/icono-añadir.jpg" alt="icono-añadir" height="15px" width="15px">
      </a> 
    </div>
  </div>

  <div *ngFor="let skill of HysskillsArray" class="nombre-y-botones">

    <!--Parte visible-->
    <div class="alineador">
      <h5>{{skill.nombre}}</h5>
      <div class="boton-diapositiva" *ngIf="isLogged">
        <a routerLink="/editskill/{{skill.id_Hysskills}}">
          <img src="assets/images/icono-editar.jpg" alt="icono-editar" height="15px" width="15px">
        </a>
        <a (click)="open(content)" >
          <img src="assets/images/icono-borrar.jpg" alt="icono-borrar" height="15px" width="15px">
        </a>  
      </div>
    </div>
    <div class="informacion">
      <ngb-progressbar type="success" textType="white" [value]="skill.valor">{{skill.valor}}%</ngb-progressbar>
    </div>

    <!--Modal utilizado para borrar elementos-->
    <ng-template class="inseleccionable" #content let-modal>
      <div class="modal-header text-center">
        <h4>¿Estás seguro que quieres borrar este elemento?</h4>
      </div>
      <div class="d-flex justify-content-center" style="padding: 0px; border-top: 1px lightgray solid">
        <button class="btn btn-default" style="width:50%; border-right: 1px lightgray solid; padding: 15px" (click)="cerrar()">Cancelar</button>
        <button id="aceptar" class="btn btn-default" style="width:50%; padding: 15px" (click)="borrar(skill.id_Hysskills)">Aceptar</button>
      </div>
    </ng-template>

  </div>
</div> 