/*Tags para las diapositivas de información*/
.HyS_Skills{
    border: 1px darkgray  solid;
    border-radius: 50px;
    margin-bottom: 10px;
    padding-bottom: 50px;
    line-height: 5px;
    background-color: lightgray;
    border-radius: 50px;

    animation: fadeIn 1.7s;
    animation-fill-mode: forwards;
    animation-delay: 0.75s;
    opacity: 0;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.cabecera{
    padding: 20px 0px 0px 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.nombre-y-botones{
    padding: 20px 0px 15px 30px;
    border-top: 1px darkgray solid;
    border-bottom: 1px darkgray solid;
    background-color: whitesmoke;
    list-style: none;
}
.informacion{
    display: block;
    padding-right: 60px;
    margin-bottom: 10px;
    line-height: 15px;
}

/*Media Queries de todos los tipos de pantallas*/
/*Media Query para mobiles*/
@media (max-width: 480px) {
    ngb-progressbar{
        font-size: 10px;
    }
} 
/*Media Query para tabletas y ipads*/
@media (min-width: 481px) and (max-width: 767px) {
    ngb-progressbar{
        font-size: 11px;
    }
}
/* Media Query para tabletas u otros de mayor tamaño*/
@media (min-width: 768px) and (max-width: 1024px){
    ngb-progressbar{
        font-size: 12px;
    }
} 
/* Media Query para laptops y monitores*/
@media (min-width: 1025px) and (max-width: 1280px){
    ngb-progressbar{
        font-size: 14px;
    }
}
/* Media Query para grandes pantallas*/
@media (min-width: 1281px) and (max-width: 1600px){
    ngb-progressbar{
        font-size: 15px;
    }
}
/* Media Query para pantallas XL*/
@media (min-width: 1601px) {
    ngb-progressbar{
        font-size: 16px;
    }
}