<div class="pie">
    <div class="contenedor">
        <ul class="enlaces nav justify-content-center">
            <li class="nav-item">
                <a href="#inicio" class="nav-link">Inicio</a>
            </li>
    
            <li class="nav-item">
                <a href="#experiencia" class="nav-link">Experiencia</a>
            </li>
    
            <li class="nav-item">
                <a href="#educacion" class="nav-link">Educación</a>
            </li>
    
            <li class="nav-item">
                <a href="#hysskills" class="nav-link">HySSkills</a>
            </li>
    
            <li class="nav-item">
                <a href="#proyectos" class="nav-link">Proyectos</a>
            </li>
    
        </ul>
    </div>

    <div class="copyRight">
        <p>Pablo Rubiolo, Córdoba, Argentina 2022 ©</p>
    </div>
</div>