.pie{
    position: sticky;
}
.contenedor{
    display: flex;
    justify-content: center;
}
.enlaces{
    width: 70%;
    background-color: black;
    border-top: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.enlaces li a{
    margin: 0px 10px 0px 10px;
    font-size: 15px;
    color: white;
}
.copyRight{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-top: 1px lightgrey solid;
    height: 30px;
}
.copyRight p{
    margin: 0px;
    color: white;
}

/*Media Queries de todos los tipos de pantallas*/
/*Media Query para mobiles*/
@media (max-width: 480px) {
    .enlaces li a{
        font-size: 7px;
        margin: 0px;
        padding: 5px 10px 5px 10px;
    }
    .enlaces{
        width: 90%;
    }
    .copyRight{
        height: 20px;
    }
    .copyRight p{
        font-size: 7px;
    }
} 
/*Media Query para tabletas y ipads*/
@media (min-width: 481px) and (max-width: 767px) {
    .enlaces li a{
        font-size: 9px;
        margin: 0px;
    }
    .enlaces{
        width: 80%;
    }
    .copyRight{
        height: 20px;
    }
    .copyRight p{
        font-size: 7px;
    }
}
/* Media Query para tabletas u otros de mayor tamaño*/
@media (min-width: 768px) and (max-width: 1024px){
    .enlaces li a{
        font-size: 13px;
        margin: 0px;
    }
    .enlaces{
        width: 70%;
    }
} 
/* Media Query para laptops y monitores*/
@media (min-width: 1025px) and (max-width: 1280px){
    .enlaces li a{
        font-size: 15px;
        margin: 0px;
    }
    .enlaces{
        width: 60%;
    }
}
/* Media Query para grandes pantallas*/
@media (min-width: 1281px) and (max-width: 1600px){
    .enlaces li a{
        font-size: 15px;
        margin: 0px 5px 0px 5px;
    }
    .enlaces{
        width: 70%;
    }
}
/* Media Query para pantallas XL*/
@media (min-width: 1601px) {
    .enlaces li a{
        font-size: 15px;
        margin: 0px 10px 0px 10px;
    }
    .enlaces{
        width: 60%;
    }
}