<div *ngFor="let banner of bannerArray" class="banner">
  <img class="img-banner" src="{{banner.imgbanner}}" alt="banner" width="100%" height="150px">
  <div class="banner-icono-y-informacion">
    <table class="icono-y-acerca-de">
      <td class="icono-y-informacion">
        <div class="alineador-banner">
          <img class="icono" src="{{banner.imgperfil}}" alt="icono de perfil" width="50px" height="50px">
          <a class="boton"(click)="open(content); ModOrBor(banner)">
            <img src="assets/images/icono-editar.jpg" alt="icono-editar" height="15px" width="15px">
          </a>
        </div>
        <h5>{{banner.nombre}}</h5>
        <p>{{banner.descripcion}}</p>
        <p>{{banner.lugar}}</p>
      </td>
      <td class="acerca-de">
        <app-acerca-de></app-acerca-de>
      </td> 
    </table>
  </div>
</div>

<!--Modal utilizado para editar elementos-->
<ng-template #content let-modal>
  <form [formGroup]="formElement" (ngSubmit)="onEnviar()">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Modificar</h4>
    </div>

    <!--Permite tener Tabs-->
    <mat-tab-group mat-align-tabs="center" class="modal-body">
      <mat-tab label="Descripción" color="red">
        <!--Inputs con sus clases que detectan si el form es valido--> 
        <label for="nombre" style="line-height: 0px;">Nombre</label>
        <input 
        class="form-control" 
        style="margin-bottom: 5px;" 
        name="nombre" 
        [class.is-invalid]="Nombre!.touched && Nombre!.invalid"
        [class.is-valid]="Nombre!.touched && Nombre!.valid"
        [(ngModel)]="selectedElement.nombre" 
        formControlName="nombre" 
        type="text">

        <label for="descripcion" style="line-height: 0px;">Descripcion</label>
        <input 
        class="form-control" 
        style="margin-bottom: 5px;" 
        name="descripcion"
        [class.is-invalid]="Descripcion!.touched && Descripcion!.invalid"
        [class.is-valid]="Descripcion!.touched && Descripcion!.valid"
        [(ngModel)]="selectedElement.descripcion" 
        formControlName="descripcion" 
        type="text">

        <label for="lugar" style="line-height: 0px;">Lugar</label>
        <input 
        class="form-control"
        style="margin-bottom: 5px;"
        name="lugar" [(ngModel)]="selectedElement.lugar"
        [class.is-invalid]="Lugar!.touched && Lugar!.invalid"
        [class.is-valid]="Lugar!.touched && Lugar!.valid"
        [(ngModel)]="selectedElement.lugar" 
        formControlName="lugar" 
        type="text">

      </mat-tab>
      <mat-tab label="Banner">
        <label for="Banner" style="line-height: 0px;">Imagen</label>
        <input 
        name="Banner"
        class="form-control"
        style="padding: 0px; height: fit-content;"
        [class.is-invalid]="ImgBanner!.touched && ImgBanner!.invalid"
        [class.is-valid]="ImgBanner!.touched && ImgBanner!.valid"
        [(ngModel)]="selectedElement.imgbanner"
        formControlName="imgbanner"
        type="file">
      </mat-tab>

      <mat-tab label="Icono de perfil">
        <label for="Icono de perfil" style="line-height: 0px;">Imagen</label>
        <input 
        name="Icono de perfil"
        class="form-control"
        style="padding: 0px; height: fit-content;"
        [class.is-invalid]="ImgPerfil!.touched && ImgPerfil!.invalid"
        [class.is-valid]="ImgPerfil!.touched && ImgPerfil!.valid"
        [(ngModel)]="selectedElement.imgperfil"
        formControlName="imgperfil"
        type="file">
      </mat-tab>
    </mat-tab-group>

    <div class="modal-footer d-flex justify-content-center" style="padding: 0px">
      <button class="btn btn-default" style="width:48%; border-right: 1px lightgray solid; padding: 15px" (click)="Reset(content)">Cancelar</button>
      <input class="btn btn-default" style="width:48%; padding: 15px"(click)="addOrModify(content)" type="submit" value="Guardar" >
    </div>

  </form>
</ng-template> 