<!--Modal para el login-->
<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <!--Cabecera Login-->
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Login</h4>
                </div>

                <!--Input de email-->
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <input type="email" [(ngModel)]="email" name="email" class="form-control validate" placeholder="Email" required="required">
                    </div>
                <!--Input de contraseña-->
                    <div class="md-form mb-4">
                        <input type="password" [(ngModel)]="password" name="password" class="form-control validate" placeholder="Contraseña" required="required">
                    </div>
                </div>
                <!--Boton para acceder-->
                <div class="modal-footer d-flex justify-content-center">
                    <input data-bs-target="#Login" data-bs-dismiss="modal"  type="submit" value="Log In" class="btn btn-default w-100" (click)="login()" routerLink="inicio/logged-in">
                </div>
            </form>
        </div>
    </div>
</div>