<!--Div para permitir la edición de la cabecera/banner-->
<form method="POST" enctype="multipart/form-data">
    <div class="borde">
        <!--Input para el banner-->
        <div class="banner">
            <label for="banner">Subir Imagen</label>
            <input type="file" [(ngModel)]="banner" name="banner" accept="image/*" style="opacity: 0%"/>
        </div>
        <!--Input para el contenido-->
        <div class="borde-2">
            <div class="perfil-informacion">
                <!--Input para la imagen de perfil-->
                <div class="perfil">
                    <label for="perfil">Subir Imagen</label>
                    <input type="file" [(ngModel)]="perfil" name="perfil" accept="image/*" style="opacity: 0%;"/>
                </div>
                <!--Inputs para la información-->
                <div>
                    <label for="nombre" class="form-label">Nombre</label>
                    <input class="form-control" type="text" [(ngModel)]="nombre" name="nombre"/>
                    <label for="descripcion" class="form-label">Descripción</label>
                    <input class="form-control" type="text" [(ngModel)]="descripcion" name="descripcion"/>
                    <label for="localidad" class="form-label">Localidad</label>
                    <input class="form-control" type="text" [(ngModel)]="localidad" name="localidad"/>
                </div>
                <!--Div que realiza el submit-->
                <div style="padding-top: 20px">
                    <input class="btn btn-primary" type="submit" value="Guardar" (click)="modificar()"/>
                </div>
            </div>
        </div>
    </div> 
</form>



