/*Tags para las diapositivas de información*/
.proyectos{
    border: 1px darkgray  solid;
    border-radius: 50px;
    margin-bottom: 10px;
    line-height: 5px;
    background-color: whitesmoke;
    border-radius: 50px;
    
    animation: fadeIn 1.7s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
    
}
.cabecera{
    padding: 20px 0px 0px 30px;
    background-color: rgba(210, 210, 210, 0.8);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.nombre-y-botones{
    list-style: none;
    border-top: 1px lightgray solid;
    padding: 20px 0px 15px 30px;
}
.informacion{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.informacion div{
    display: grid;
    justify-items: center;
    padding-left: 10px;
    margin-right: 10px;
}
.informacion div p{
    display:flex;
    align-items: center;
    line-height: 15px;
    margin: 1.5px;
    width: 100%;
    height: 100%;
}

/*Media Queries de todos los tipos de pantallas*/
/*Media Query para mobiles*/
@media (max-width: 480px) {
    .informacion img{
        width: 50px;
        height: 50px;
    }
} 
/*Media Query para tabletas y ipads*/
@media (min-width: 481px) and (max-width: 767px) {
    .informacion img{
        width: 75px;
        height: 75px;
    }
}
/* Media Query para tabletas u otros de mayor tamaño*/
@media (min-width: 768px) and (max-width: 1024px){
    .informacion img{
        width: 75px;
        height: 75px;
    }
} 
/* Media Query para laptops y monitores*/
@media (min-width: 1025px) and (max-width: 1280px){
    .informacion img{
        width: 75px;
        height: 75px;
    }
}
/* Media Query para grandes pantallas*/
@media (min-width: 1281px) and (max-width: 1600px){
    .informacion img{
        width: 100px;
        height: 100px;
    }
}
/* Media Query para pantallas XL*/
@media (min-width: 1601px) {
    .informacion img{
        width: 125px;
        height: 125px;
    }
}