<div class="idiomas">
  <div class="alineador">
    <h2>Idiomas</h2>
    <a class="boton">
      <img src="assets/images/icono-añadir.jpg" alt="icono-añadir" height="15px" width="15px">
    </a>
  </div>

  <div *ngFor="let idiomas of idiomasArray" class="nombre-y-botones">
    <div class="alineador">
      <h5>{{idiomas.nombre}}</h5>
      <div class="boton-diapositiva">
        <a>
          <img src="assets/images/icono-editar.jpg" alt="icono-editar" height="15px" width="15px">
        </a>
        <a>
          <img src="assets/images/icono-borrar.jpg" alt="icono-borrar" height="15px" width="15px">
        </a> 
      </div>
    </div>
    <div class="informacion">
      <p>{{idiomas.descripcion}}  -  {{idiomas.nivel}}</p>
    </div>
  </div>
</div>