<app-navegador-logged-out></app-navegador-logged-out>

<app-login></app-login>

<body>
  <!--banner, icono y otra informacion-->
  <div name="1" class="div-banner-y-icono">
    <div class="div-banner">
      <img class="banner" src="assets/images/banner.jpg" alt="banner" width="100%" height="450px">
    </div>
    <div class="div-icono-y-informacion">
      <div class="div-contenedor">
        <img class="icono-de-perfil" src="assets/images/icono-perfil.jpg" alt="icono-de-perfil" height="150px" width="150px">
        <div class="div-informacion-de-perfil">
          <h4>Pablo Rubiolo</h4>
          <p>Estudiante de secundaria</p>
          <p>Villa María, Córdoba, Argentina</p>
        </div>
      </div>
    </div>
  </div>

  <!--diapositivas con informacion-->
  <div class="div-diapositivas-informacion">

    <div name="2" class="div-informacion">
      <h2>Acerca de</h2>
      <p>Estudiante de secundaria del Instituto San Antonio</p>
    </div>

    <div class="div-informacion">
      <h2>Educación</h2>
      <ol>

        <!--Elemento en forma de lista para poder agregarlo y borrarlo-->
        <li class="div-informacion-elemento">
          <h5>Instituto San Antonio</h5>
          <div>
            <img src="assets/images/logo-san-antonio.jpg" alt="logo del Instituto San Antonio" width="100px" height="100px"> 
            <div>
              <p>Bachiller en Administración y Economía</p>
              <p>Villa María, Córdoba</p>
              <p>2017 – 2022</p>
            </div>
          </div>
        </li>

      </ol>
    </div>

    <div class="div-informacion">
      <h2>Cursos</h2>
      <ol>

        <!--Elemento en forma de lista para poder agregarlo y borrarlo-->
        <li class="div-informacion-elemento">
          <h5>One World Academy</h5>
          <div>
            <img src="assets/images/logo-one-world-academy.png" alt="logo de la academia One World" width="100px" height="100px"> 
            <div>
              <p>Aprendizaje de inglés</p>
              <p>Villa María, Córdoba</p>
              <p>2017 – 2022</p>
            </div>
          </div>
        </li>

        <li class="div-informacion-elemento">
          <h5>Argentina Programa</h5>
          <div>
            <img src="assets/images/logo-argentina-programa.jpg" alt="logo del Programa ArgentinaPrograma" width="100px" height="100px"> 
            <div>
              <p>Aprendizaje de programación</p>
              <p>Via Online</p>
              <p>2021 – 2022</p>
            </div>
          </div>
        </li>

      </ol>
    </div>

    <div class="div-informacion">
      <h2>Certificados</h2>
      <ol>

        <li class="div-informacion-elemento">
          <h5>Cambridge University</h5>
          <div>
            <img src="assets/images/logo-cambridge.jpg" width="100px" height="100px"> 
            <div>
              <p>Nivel A1</p>
              <p>Villa María, Córdoba</p>
              <p>2022</p>
            </div>
          </div>
        </li>

      </ol>
    </div>

    <div class="div-informacion">
      <h2>Habilidades</h2>
      <ol>

        <li class="test">
          <p>Mentalidad de Crecimiento</p>
          <div class="test2">
            <div></div>
          </div>
        </li>

        <li class="test">
          <p>Capacidad de Organización</p>
          <div class="test2">
            <div style="width: 650px;"></div>
          </div>
        </li>

        <li class="test" >
          <p>Multitareas</p>
          <div class="test2">
            <div></div>
          </div>
        </li>

        <li class="test">
          <p>Aprendizaje continuo</p>
          <div class="test2">
            <div style="width: 700px;"></div>
          </div>
        </li>
        
        <li class="test">
          <p>Proactividad</p>
          <div class="test2">
            <div style="width: 600px;"></div>
          </div>
        </li>

      </ol>
    </div>
  </div>
</body>

