/*Tags para el contenedor general*/
#base{
    position: relative;
    border-radius: 50px;
    height: 850px;
    background-color: wheat;
}

/*Tags para el input del banner*/
.banner{
    position: relative;
    display: flex;
    height: 450px;
    border: 1px lightgray solid;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: white;
    z-index: 1;
}

.banner input, .banner label{
    position: absolute;
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 450px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*Tag para contener el perfil y sus imputs*/
.borde{
    position: relative;
    height: 400px;
    border-left: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    border-right: 1px lightgray solid;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.perfil-informacion{
    position: relative;
    padding-left: 30px;
    bottom: 75px;
}

/*Tags para el Perfil*/
.perfil{
    position: relative;
    display: flex;
    height: 150px;
    width: 150px;
    z-index: 2;
}

.perfil input, .perfil label{
    position: absolute;
    display: flex;
    border: 1px lightgray solid;
    border-radius: 50%;
    height: inherit;
    width: inherit;
    align-items: center;
    justify-content: center;
    background-color: white;
}
