<!--Div reusable para nuevas diapositivas-->
<div class="borde">
    <form method="POST" enctype="multipart/form-data">
        <!--Input para el título de la diapositiva-->
        <div class="container-fluid mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input class="form-control" type="text" [(ngModel)]="nombre" name="nombre"/>
        </div>
        <!--Input para el contenido-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 d-relative">
                    <label class="form-control imagen-formulario" for="imagen">Subir Imagen</label>
                    <input class="form-control imagen-formulario" type="file" [(ngModel)]="imagen" name="imagen" accept="image/*" style="opacity: 0%;">
                </div>
                <div class="col" style="padding-left: 35px">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <input class="form-control" type="text" [(ngModel)]="descripcion" name="descripcion">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input class="form-control" type="text" [(ngModel)]="fecha" name="fecha">
                    <label for="lugar" class="form-label">Lugar</label>
                    <input class="form-control" type="text" [(ngModel)]="lugar" name="lugar">
                </div>
            </div>
        </div>
        <!--Div que realiza el submit-->
        <div class="container-fluid" style="padding-top: 20px">
            <input class="btn btn-primary" type="submit" value="Guardar" (click)="crear()"/>
        </div>
    </form>
</div>