<div class="banner">
  <img class="img-banner" src="assets/images/usuario/banner.jpg" alt="banner" width="100%" height="150px">
  <div class="banner-icono-y-informacion">
    <table class="icono-y-acerca-de">
      <td class="icono-y-informacion" *ngFor="let banner of bannerArray">

        <!--Parte Visible-->
        <div class="alineador-banner">
          <img class="icono" src="assets/images/usuario/icono-perfil.jpg" alt="icono de perfil" width="50px" height="50px">
          <a class="boton"(click)="open(content)" *ngIf="isLogged">
            <img src="assets/images/icono-editar.jpg" alt="icono-editar" height="15px" width="15px">
          </a>
        </div>
        <div>
          <h5>{{banner.nombre}}</h5>
          <p>{{banner.descripcion}}</p>
          <p>{{banner.localidad}}</p>
        </div>
        
        <!--Modal utilizado para editar elementos-->
        <ng-template #content let-modal>
          <form [formGroup]="formElement" (ngSubmit)="onEditar(banner.id_Usuario_Banner, banner)">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Modificar</h4>
            </div>

            <div class="modal-body" style="background-color: rgba(238,238,238,1);">
              <!--Inputs con sus clases que detectan si el form es valido--> 
              <label for="nombre" style="line-height: 0px;">Nombre</label>
              <input 
              class="form-control" 
              style="margin-bottom: 5px;" 
              name="nombre" 
              [class.is-invalid]="Nombre!.touched && Nombre!.invalid"
              [class.is-valid]="Nombre!.touched && Nombre!.valid"
              [(ngModel)]="banner.nombre" 
              formControlName="nombre" 
              type="text">

              <label for="descripcion" style="line-height: 0px;">Descripcion</label>
              <input 
              class="form-control" 
              style="margin-bottom: 5px;" 
              name="descripcion"
              [class.is-invalid]="Descripcion!.touched && Descripcion!.invalid"
              [class.is-valid]="Descripcion!.touched && Descripcion!.valid"
              [(ngModel)]="banner.descripcion" 
              formControlName="descripcion" 
              type="text">

              <label for="localidad" style="line-height: 0px;">Lugar</label>
              <input 
              class="form-control"
              style="margin-bottom: 5px;"
              name="localidad"
              [(ngModel)]="banner.localidad"
              [class.is-invalid]="Localidad!.touched && Localidad!.invalid"
              [class.is-valid]="Localidad!.touched && Localidad!.valid"
              [(ngModel)]="banner.localidad" 
              formControlName="localidad" 
              type="text">

            </div>

            <div class="d-flex justify-content-center" style="padding: 0px; border-top: 1px lightgray solid">
              <button class="btn btn-default" style="width:48%; border-right: 1px lightgray solid; padding: 15px" (click)="cerrar()">Cancelar</button>
              <input class="btn btn-default" style="width:48%; padding: 15px" type="submit" value="Guardar" >
            </div>

          </form>
        </ng-template> 
      </td>
      <td class="acerca-de">
        <app-acercade></app-acercade>
      </td> 
    </table>
  </div>

 
</div>