<header>
  <nav class="navegador">

    <!--logo de argentina programa y nombre-->
    <div>
      <img src="assets/images/logo-argentina-programa.jpg" height="inherit" width="inherit">
      <p>Argentina Programa #YoProgramo</p>
    </div>

    <!--contactos y login-->
    <table>
      <td>
        <a href="https://es-la.facebook.com/people/Pablo-Rubiolo/100013166437499/" target="_blank">
          <img src="assets/images/logo-facebook.jpg" alt="Facebook" height="100%" width="100%">
        </a>
      </td>
      <td>
        <a href="https://www.instagram.com/pablitorubiolo/" target="_blank">
          <img src="assets/images/logo-instagram.jpg" alt="Instagram" height="100%" width="100%">
        </a>
      </td>
      <td>
        <a href="https://twitter.com/PabloRubiolo6" target="_blank">
          <img src="assets/images/logo-twitter.jpg" alt="Twitter" height="100%" width="100%">
        </a>
      </td>
      <td>
        <a href="#" data-bs-toggle="modal" data-bs-target="#Login">
          <img src="assets/images/icono-login.jpg" alt="Login" height="100%" width="100%">
        </a>
      </td>
    </table>
  </nav>
</header>

<body>

  <!--banner, icono y otra informacion-->
  <div class="container-fluid div-banner-y-icono">
    <div class="row div-banner">
      <img class="banner" src="assets/images/banner.jpg" alt="banner" width="100%" height="450px">
    </div>
    <div class="row div-icono-y-informacion">
      <div class="div-contenedor">
        <img class="icono-de-perfil"src="assets/images/icono-editar.jpg" alt="icono-de-perfil" height="150px" width="150px">
        <div class="div-informacion-de-perfil">
          <h4>Pablo Rubiolo</h4>
          <p>Estudiante de secundaria</p>
          <p>Cordoba, Villa María (Argentina)</p>
        </div>
        <div><!--Div con botón para agregar secciones, futura modificacion--></div> 
      </div>
    </div>
  </div>

  <app-diapositiva-header></app-diapositiva-header>

  <!--diapositivas con informacion-->
  <div class="div-diapositivas-informacion">
    <div class="div-informacion">
      <h2>Acerca de</h2>
      <p>Estudiante de nivel secundario del Instituto San Antonio</p>
    </div>
    <app-diapositiva-acerca-de></app-diapositiva-acerca-de>
    <div class="div-informacion">
      <h2>Experiencia</h2>
    </div>
    <app-diapositivas-informacion></app-diapositivas-informacion>
    <div class="div-informacion">
      <h2>Educación</h2>
    </div>
    <div class="div-informacion">
      <h2>Habilidades Duras y Blandas</h2>
    </div>
    <div class="div-informacion">
      <h2>Proyectos</h2>
    </div>
  </div>

  <app-login></app-login>

</body>

<footer>
  <p>Todos los derechos reservados a Pablo Rubiolo, creador de este proyecto</p>
</footer>