<app-navegador></app-navegador>
<body>
  <!--banner, icono y otra informacion-->
    <div name="1" class="container-fluid div-banner-y-icono visible">
      <div class="row div-banner">
        <img class="banner" src="assets/images/banner.jpg" alt="banner" width="100%" height="450px">
      </div>
      <div class="row div-icono-y-informacion">
        <div class="div-contenedor">
          <img class="icono-de-perfil" src="assets/images/icono-perfil.jpg" alt="icono-de-perfil" height="150px" width="150px">
          <div class="div-informacion-de-perfil">
            <h4>Pablo Rubiolo</h4>
            <p>Estudiante de secundaria</p>
            <p>Cordoba, Villa María (Argentina)</p>
          </div>
        </div>
        <div class="boton-editar">
          <a target="1" name="BannerBtn" (click)="alternar($event)">
            <img src="assets/images/icono-editar.jpg" alt="icono-editar" height="15px" width="15px">
          </a> 
        </div>
      </div>
    </div>
    <app-diapositiva-header></app-diapositiva-header>
  <!--diapositivas con informacion-->
  <div class="div-diapositivas-informacion">
    <div name="2" class="div-informacion">
      <div>
        <h2>Acerca de</h2>
        <a target="2" name="AcercaDeBtn" (click)="alternar($event)">
          <img src="assets/images/icono-editar.jpg" alt="icono-editar" height="15px" width="15px">
        </a> 
      </div>
      <p>Estudiante de nivel secundario del Instituto San Antonio</p>
    </div>
    <app-diapositiva-acerca-de></app-diapositiva-acerca-de>
    <div class="div-informacion">
      <h2>Experiencia</h2>
    </div>
    <app-diapositivas-informacion></app-diapositivas-informacion>
    <div class="div-informacion">
      <h2>Educación</h2>
    </div>
    <div class="div-informacion">
      <h2>Habilidades Duras y Blandas</h2>
    </div>
    <div class="div-informacion">
      <h2>Proyectos</h2>
    </div>
  </div>

  <app-login></app-login>

</body>

<footer>
  <p>Todos los derechos reservados a Pablo Rubiolo, creador de este proyecto</p>
</footer>

