<nav class="navegador">
  <!--logo de argentina programa y nombre-->
  <div>
    <img src="assets/images/logo-argentina-programa.jpg" height="inherit" width="inherit">
    <p>Argentina Programa #YoProgramo</p>
  </div>
  
  <!--contactos y login-->
  <table>
    <td>
      <a href="https://es-la.facebook.com/people/Pablo-Rubiolo/100013166437499/" target="_blank">
        <img src="assets/images/logo-facebook.jpg" alt="Facebook" height="100%" width="100%">
      </a>
    </td>
    <td>
      <a href="https://www.instagram.com/pablitorubiolo/" target="_blank">
        <img src="assets/images/logo-instagram.jpg" alt="Instagram" height="100%" width="100%">
      </a>
    </td>
    <td>
      <a href="https://twitter.com/PabloRubiolo6" target="_blank">
        <img src="assets/images/logo-twitter.jpg" alt="Twitter" height="100%" width="100%">
      </a>
    </td>
    <td>
      <a (click)="open(contenido)">
        <img src="assets/images/icono-logout.jpg" alt="Login" height="100%" width="100%">
      </a>
    </td>
  </table>
</nav>

<ng-template #contenido let-modal>
  <div class="modal-header text-center">
    <h4>¿Estás seguro que quieres salir de tu cuenta?</h4>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <input type="submit" value="Cancelar" class="btn w-100" (click)="modal.dismiss(contenido)">
    </div>
    <div class="d-flex justify-content-center w-25">
    </div>
    <div class="d-flex justify-content-center">
      <input type="submit" value="Aceptar" class="btn btn-default w-100" (click)="modal.dismiss(contenido); logout()">
    </div>
  </div>
</ng-template>  