<nav class="navegador">
  <!--logo de argentina programa y nombre-->
  <div>
    <img src="assets/images/logo-argentina-programa.jpg" height="inherit" width="inherit">
    <p>Argentina Programa #YoProgramo</p>
  </div>
  
  <!--contactos y login-->
  <table>
    <td>
      <a href="https://es-la.facebook.com/people/Pablo-Rubiolo/100013166437499/" target="_blank">
        <img src="assets/images/logo-facebook.jpg" alt="Facebook" height="100%" width="100%">
      </a>
    </td>
    <td>
      <a href="https://www.instagram.com/pablitorubiolo/" target="_blank">
        <img src="assets/images/logo-instagram.jpg" alt="Instagram" height="100%" width="100%">
      </a>
    </td>
    <td>
      <a href="https://twitter.com/PabloRubiolo6" target="_blank">
        <img src="assets/images/logo-twitter.jpg" alt="Twitter" height="100%" width="100%">
      </a>
    </td>
    <td>
      <a (click)="logout()">
        <img src="assets/images/icono-logout.jpg" alt="Login" height="100%" width="100%">
      </a>
    </td>
  </table>
</nav>