<!--Cierra sesion si está activa-->
<div class="Contenedor-login" *ngIf="isLogged">
    <div class="Cuadro">
        <div class="modal-header text-center justify-content-center">
            <h4>¿Estás seguro que quieres salir de tu cuenta?</h4>
        </div>
    
        <div class="d-flex justify-content-center" style="padding: 0px; border-top: 1px lightgray solid" >
            <button class="btn btn-default" style="width:50%; border-right: 1px lightgray solid; padding: 15px" (click)="cancelar()">Cancelar</button>
            <button id="aceptar" class="btn btn-default" style="width:50%; padding: 15px" (click)="logout()">Aceptar</button>
        </div>
    </div>
</div>

<!--Abre sesion si no está activa-->
<div class="Contenedor-logout" *ngIf="!isLogged">
    <form class="Cuadro" [formGroup]="formElement">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Login</h4>
        </div>
        <!--Input de email-->
        <div class="modal-body" style="background-color: rgba(238,238,238,1)">
            <div class="md-form mb-4">
                <label for="usuario">Usuario</label>
                <input 
                type="text" 
                name="usuario" 
                class="form-control" 
                [class.is-invalid]="NombreUsuario!.touched && NombreUsuario!.invalid"
                [class.is-valid]="NombreUsuario!.touched && NombreUsuario!.valid"
                [(ngModel)]="nombreUsuario"
                formControlName="nombreUsuario">
                </div>
                
                <!--Input de contraseña-->
                <div class="md-form mb-3">
                <label for="contraseña">Contraseña</label>
                <input type="password" 
                name="contraseña" 
                class="form-control"
                [class.is-invalid]="Password!.touched && Password!.invalid"
                [class.is-valid]="Password!.touched && Password!.valid"
                [(ngModel)]="password"
                formControlName="password">
                </div>
            </div>
            <!--Boton para acceder-->
            <div class="d-flex justify-content-center" style="padding: 0px; border-top: 1px lightgray solid" >
                <button class="btn btn-default" style="width:50%; border-right: 1px lightgray solid; padding: 15px" (click)="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-default" style="width:50%; padding: 20px" (click)="onLogin()">Acceder</button>
            </div>
        </form>
</div> 