/*Tags para el contenido del banner, icono y demás*/
body{
  padding: 55px 10px 5px 10px;
  background-color: bisque;
  z-index: -1;
}
  
.div-banner-y-icono{
  width: 100%;
  height: 625px;
  background-color: whitesmoke;
  border-radius: 50px;
}
  
.banner{
  border: 1px lightgray solid;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
  
.div-icono-y-informacion{
  height: 175px;
  border-left: 1px lightgray solid;
  border-bottom: 1px lightgray solid;
  border-right: 1px lightgray solid;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
  
.div-contenedor{
  position: relative;
  left: 30px;
  bottom: 75px;
  height: 250px;
  width: 200px;
}
  
.icono-de-perfil{
  border: 1px lightgray solid;
  border-radius: 50%;
}
  
.div-informacion-de-perfil{
  height: 40%;
  line-height: 5px;
}
  
.div-informacion-de-perfil p{
  font-size: small;
}
    
/*Tags para las diapositivas de información*/
.div-diapositivas-informacion{
  margin-top: 10px;
  width: 100%;
}
  
.div-informacion{
  border: 1px lightgray solid;
  border-radius: 50px;
  margin-bottom: 10px;
  padding: 20px 0px 10px 30px;
  line-height: 5px;
  background-color: whitesmoke;
  border-radius: 50px;
}

.div-informacion-elemento{
  list-style: none;
  padding-bottom: 5px;
}

.div-informacion-elemento div{
  display: flex;
  align-items: center;
}

.div-informacion-elemento div div{
  display: block;
  padding-left: 10px;
}

/*Tags Para los botones de edición*/
.alineador{
  display: flex;
  justify-content: space-between;
}

.boton-editar{
  position: relative;
  top: 10px;
  right: 10px;
  height: 15px;
  width: 15px;
  z-index: 3;
}

.boton-editar a{
  position: relative;
  display: flex;
}

.boton-editar-diapositiva{
  position: relative;
  right: 20px;
  height: 15px;
  width: 15px;
  z-index: 3;
}

/*Test*/
.test{
  display: flex;
  height: 30px;
}

.test p{
  display: flex;
  align-items: center;
  width: 250px;
  height: 30px;
}

.test2{
  display: flex;
  align-items: center;
  justify-items: left;
  border: solid gray 1px;
  border-radius: 15px;
  padding: 0px;
  width: 752px;
  height: 22px;
  margin: 5px 20px 0px 20px;
  z-index: 2;
}

.test2 div{
  background-color: cornflowerblue;
  border-radius: 15px;
  width: 750px;
  height: 20px;
  z-index: 1;
}

/*Tags para el pie de página*/
footer{
  display: flex;
  width: 100%;
  height: 20px;
  padding-right: 5px;
  justify-content: right;
  background-color: black;
}
  
footer p{
  color: white;
  font-size: small;
}
  
/*Media query de todos los tipos de pantalla*/
@media (max-width: 1400px){
}
@media (max-width: 1200px){
}
@media (max-width: 992px){
}
@media (max-width: 768px){
}
@media (max-width: 576px){
}