<nav class="navegador">
  <!--logo de argentina programa y nombre-->
  <div class="logo-proyecto">
    <img src="assets/images/logo-argentina-programa.jpg" height="45px" width="60px">
    <p>Argentina Programa #YoProgramo</p>
  </div>
  
  
  <!--contactos-->
  <div class="iconos-de-navegador">
    <a class="icono" href="https://es-la.facebook.com/people/Pablo-Rubiolo/100013166437499/" target="_blank">
      <img  src="assets/images/logo-facebook.jpg" alt="Facebook" height="30px" width="30px">
    </a>
    <a class="icono" href="https://www.instagram.com/pablitorubiolo/" target="_blank">
      <img  src="assets/images/logo-instagram.jpg" alt="Instagram" height="30px" width="30px">
    </a>
    <a class="icono" href="https://twitter.com/PabloRubiolo6" target="_blank">
      <img  src="assets/images/logo-twitter.jpg" alt="Twitter" height="30px" width="30px">
    </a>
   <!--Login y logout-->
    <a routerLink="/login" class="icono-log" *ngIf="isLogged">
      <img src="assets/images/icono-logout.jpg" alt="Logout" height="30px" width="45px">
    </a>
    <a routerLink="/login" class="icono-log" *ngIf="!isLogged">
      <img src="assets/images/icono-login.jpg" alt="Login" height="30px" width="45px">
    </a>
  </div>
</nav>