<div *ngFor="let acercaDe of AcercadeArray">

  <!--Parte Visible-->
  <div class="alineador-acerca-de">
    <h2>Acerca de</h2>
    <a class="boton"(click)="open(content)">
      <img src="assets/images/icono-editar.jpg" alt="icono-editar" height="15px" width="15px">
    </a>
  </div>
  <div>
    <p>{{acercaDe.descripcion}}</p>
  </div>

  <!--Modal utilizado para editar elementos-->
  <ng-template #content let-modal>
    <form [formGroup]="formElement" (ngSubmit)="onEditar(acercaDe.id_Usuario_Acercade, acercaDe)">

      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Modificar</h4>
      </div>

      <!--Inputs con sus clases que detectan si el form es valido--> 
      <div class="modal-body" style="background-color: rgba(238,238,238,1);">
        <label for="nombre">Descripción</label>
        <textarea 
        class="form-control" 
        style="margin-bottom: 5px; height: 150px" 
        name="nombre" 
        [class.is-invalid]="Descripcion!.touched && Descripcion!.invalid"
        [class.is-valid]="Descripcion!.touched && Descripcion!.valid"
        [(ngModel)]="acercaDe.descripcion" 
        formControlName="descripcion" 
        type="text"></textarea>
      </div>

      <div class="d-flex justify-content-center" style="padding: 0px; border-top: 1px lightgray solid">
        <button class="btn btn-default" style="width:48%; border-right: 1px lightgray solid; padding: 15px" (click)="cerrar()">Cancelar</button>
        <input class="btn btn-default" style="width:48%; padding: 15px" type="submit" value="Guardar" >
      </div>

    </form>
  </ng-template>
</div>