/*Ocultar la barra de navegación, funciona en la mayoria de navegadores web*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

/*Evita que sea posible seleccionar items*/
.inseleccionable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*Tag global para que el modal no sea superpuesto por el fondo*/
/*Utilicé un número exajerado para no tener que modificar otras elementos*/
.modal {
    z-index: 10000;
}

