/*Ocultar la barra de navegación, funciona en la mayoria de navegadores web*/
html, body {
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow: scroll;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
    -webkit-appearance: none;
}
::-webkit-scrollbar {
    display: none;/* Safari and Chrome */
}

/*Letra general*/
body{
    z-index: -1;
    font-family: Arial, Helvetica, sans-serif;  
    background: rgba(190,160,94,1);
    height: 100%;
}
/*Evita que sea posible seleccionar items*/
.inseleccionable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/*Tag global para que el modal no sea superpuesto por el fondo*/
/*Utilicé un número exajerado para no tener que modificar otras elementos*/
.modal{
    z-index: 10000;
}
/*Tags Para los botones de edición en general*/
.alineador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}
.boton{
    position: relative;
    display: flex;
    bottom: 5px;
    height: 15px;
    width: 15px;
    z-index: 3;  
}
.boton-diapositiva{
    position: relative;
    display: flex;
    margin: 0px;
    bottom: 5px;
}
.boton-diapositiva a{
    height: 15px;
    width: 15px;
    margin-left: 10px;
}


/*Media Queries de todos los tipos de pantallas, para modificar el tamaño de la letra*/
/*Media Query para mobiles*/
@media (max-width: 480px) {
    h2{
        font-size: 15px;
        font-weight: bold;
    }
    h5{
        font-size: 10px;
        font-weight: bold;
    }
    p{
        font-size: 8px;
    }
    .boton img, .boton-diapositiva img, .boton, .boton-diapositiva a{
        width: 10px;
        height: 10px;
    }
} 
/*Media Query para tabletas y ipads*/
@media (min-width: 481px) and (max-width: 767px) {
    h2{
        font-size: 19px;
        font-weight: bold;
    }
    h5{
        font-size: 14px;
        font-weight: bold;
    }
    p{
        font-size: 11px;
    }
    .boton img, .boton-diapositiva img, .boton a, .boton-diapositiva a{
        width: 12.5px;
        height: 12.5px;
    }
}
/* Media Query para tabletas u otros de mayor tamaño*/
@media (min-width: 768px) and (max-width: 1024px){
    h2{
        font-size: 19px;
        font-weight: bold;
    }
    h5{
        font-size: 14px;
        font-weight: bold;
    }
    p{
        font-size: 11px;
    }
    .boton img, .boton-diapositiva img, .boton a, .boton-diapositiva a{
        width: 12.5px;
        height: 12.5px;
    }
} 
/* Media Query para laptops y monitores*/
@media (min-width: 1025px) and (max-width: 1280px){
    h2{
        font-size: 23px;
        font-weight: bold;
    }
    h5{
        font-size: 15px;
        font-weight: bold;
    }
    p{
        font-size: 13px;
    }
    .boton img, .boton-diapositiva img, .boton a, .boton-diapositiva a{
        width: 15px;
        height: 15px;
    }
}
/* Media Query para grandes pantallas*/
@media (min-width: 1281px) and (max-width: 1600px){
    h2{
        font-size: 26px;
        font-weight: bold;
    }
    h5{
        font-size: 19px;
        font-weight: bold;
    }
    p{
        font-size: 14px;
    }
    .boton img, .boton-diapositiva img, .boton a, .boton-diapositiva a{
        width: 15px;
        height: 15px;
    }
}
/* Media Query para pantallas XL*/
@media (min-width: 1601px) {
    h2{
        font-size: 30px;
        font-weight: bold;
    }
    h5{
        font-size: 20px;
        font-weight: bold;
    }
    p{
        font-size: 15px;
    }
    .boton img, .boton-diapositiva img, .boton a, .boton-diapositiva a{
        width: 17.5px;
        height: 17.5px;
    }
}