.animador{
    animation: fadeIn 1.7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
p{
    position: relative;
    bottom: 10px;
}
div{
    display: grid;
    justify-items: center;
    text-align: justify;
}
.alineador-acerca-de{
    display: flex;
    align-items: center;
}
.alineador-acerca-de a{
    padding-left: 10px;
    bottom: 4px;
}
.area-de-texto{
    height: 200px;
}
/*Media Queries de todos los tipos de pantallas*/
/*Media Query para mobiles*/
@media (max-width: 480px) {
    h5{
        font-size: 10px;
    }
    p{
        line-height: 8px;
    }
} 
/*Media Query para tabletas y ipads*/
@media (min-width: 481px) and (max-width: 767px) {
    h5{
        line-height: 0px;
    }
    p{
        line-height: 15px;
    }
}
/* Media Query para tabletas u otros de mayor tamaño*/
@media (min-width: 768px) and (max-width: 1024px){
    h5{
        line-height: 0px;
    }
    p{
        line-height: 15px;
    }
} 
/* Media Query para laptops y monitores*/
@media (min-width: 1025px) and (max-width: 1280px){
    h5{
        line-height: 0px;
    }
    p{
        line-height: 15px;
    }
}
/* Media Query para grandes pantallas*/
@media (min-width: 1281px) and (max-width: 1600px){
    h5{
        line-height: 0px;
    }
    p{
        line-height: 15px;
    }
}
/* Media Query para pantallas XL*/
@media (min-width: 1601px) {
    h5{
        line-height: 0px;
    }
    p{
        line-height: 15px;
    }
}