<div class="educacion">
  <div class="alineador">
    <h2>Educación</h2>
    <a (click)="open(content)" class="boton">
      <img src="assets/images/icono-añadir.jpg" alt="icono-añadir" height="15px" width="15px">
    </a>
  </div>

  <div *ngFor="let educacion of educacionArray" class="nombre-y-botones">
    <div class="alineador">
      <h5>{{educacion.nombre}}</h5>
      <div class="boton-diapositiva">
        <a (click)="open(content); ModOrBor(educacion)">
          <img src="assets/images/icono-editar.jpg" alt="icono-editar" height="15px" width="15px">
        </a>
        <a (click)="open(contents); ModOrBor(educacion)">
          <img src="assets/images/icono-borrar.jpg" alt="icono-borrar" height="15px" width="15px">
        </a> 
      </div>
    </div>
    <div class="informacion">
      <img src="{{educacion.img}}" alt="logo de educacion" width="100px" height="100px"> 
      <div>
        <p>{{educacion.descripcion}}</p>
        <p>{{educacion.lugar}}</p>
        <p>{{educacion.fecha}}</p>
      </div>
    </div>
  </div>
</div>

<!--Modal utilizado para añadir o editar elementos-->
<ng-template #content let-modal>
  <form>
    <div class="modal-header text-center">
      <h4 *ngIf="this.selectedElement.id === 0" class="modal-title w-100 font-weight-bold">Añadir</h4>
      <h4 *ngIf="this.selectedElement.id !== 0" class="modal-title w-100 font-weight-bold">Modificar</h4>
    </div>

    <mat-tab-group mat-align-tabs="center" class="modal-body">
      <mat-tab label="Descripción" color="red">
        <label for="nombre" style="line-height: 0px;">Nombre</label>
        <input class="form-control" style="margin-bottom: 5px;" name="nombre" [(ngModel)]="selectedElement.nombre" [ngModelOptions]="{standalone: true}" type="text">
        <label for="descripcion" style="line-height: 0px;">Descripcion</label>
        <input class="form-control" style="margin-bottom: 5px;" name="descripcion" [(ngModel)]="selectedElement.descripcion" [ngModelOptions]="{standalone: true}" type="text">
        <label for="lugar" style="line-height: 0px;">Lugar</label>
        <input class="form-control" style="margin-bottom: 5px;" name="lugar" [(ngModel)]="selectedElement.lugar" [ngModelOptions]="{standalone: true}" type="text">
        <label for="fecha" style="line-height: 0px;">Fecha</label>
        <input class="form-control" style="margin-bottom: 5px;" name="fecha" [(ngModel)]="selectedElement.fecha" [ngModelOptions]="{standalone: true}" type="text">
      </mat-tab>
      <mat-tab label="Imagen">
        <label for="imagen" style="line-height: 0px;">Imagen</label>
        <div class="form-control" style="height: 250px; padding: 0px">
          <input name="imagen"  style="height: 100%; width: 100%; opacity: 0;" [(ngModel)]="selectedElement.img" [ngModelOptions]="{standalone: true}" type="file">
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="modal-footer d-flex justify-content-center">
      <input type="submit" value="Guardar" class="btn btn-default w-100" (click)="modal.dismiss(content); addOrModify()">
    </div>
  </form>
</ng-template> 

<!--Modal utilizado para borrar elementos-->
<ng-template #contents let-modal>
  <div class="modal-header text-center">
    <h4>¿Estás seguro que quieres borrar este elemento?</h4>
  </div>
  <div class="modal-footer d-flex justify-content-center" style="padding: 0px">
    <input type="submit" value="Cancelar" class="btn btn-default" style="width:48%; border-right: 1px lightgray solid; padding: 15px" (click)="modal.dismiss(contents)">
    <input type="submit" value="Aceptar" class="btn btn-default" style="width:48%; padding: 15px" (click)="modal.dismiss(contents); borrar()">
  </div>
</ng-template>  